.otherScreen {
    font: 14px 'Verdana';
    height: 100%;
    width: 50%;
    background-color: rgba(78, 55, 30, 0.8);
    background-size: cover;
    color: #BBBBBB;
    position: absolute;
    text-align: center;
    top: 0px;

}
.menuButton {
    background: none repeat scroll 0 0 #2B1B07;
    border: 2px solid #2B1B07;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 4px 4px 5px #2B1B07;
    margin: 8% auto auto;
    padding: 2%;
    width: 50%;
}
.boardCanvas {
	padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
#container {
    display: block;
    margin-left: 20%;
    width: 50%;
}
body {
 	background-image: url('../Images/woodBG.png');
}
.helpCenterTitle {
   	font-size: 16px;
    margin-left: auto;
    margin-right: auto;
 
}
.helpCenter {
    font-size: 16px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0em;
    text-align: left;
    width: 70%;
}

table.reference {
    background-color: #96693F;
    border: 1px solid #CC9360;
    border-collapse: collapse;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    font-size: 14px;
}
table.reference th {
    background-color: #9F6C33;
    border: 1px solid #CC9360;
    padding: 3px;
    text-align: left;
    vertical-align: top;
}
table.reference td {
    border: 1px solid #CC9360;
    padding: 3px;
    vertical-align: top;
}
table.reference td.example_code {
    vertical-align: bottom;
}

.closeBtn {
	position: absolute;
    right: 0;
    top: 2%; 
}
.close-btn {
    border: 2px solid #c2c2c2;
    position: relative;
    padding: 1px 5px;
    background-color: #605F61;
    border-radius: 20px;
}

.close-btn a {
    font-size: 15px;
    font-weight: bold;
    color: white;
    text-decoration: none;
}
.base {
 	margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 130px;
}

.base div {
	float: left;
    text-align: center;
    width: 52px;
}

.base #done{
	float: right;
}